.avatar-triangle {
  position: relative;
  width: 44px;
  height: 44px;
}

.avatar-triangle .ant-avatar {
  position: absolute;
  border-radius: 50%;
}

.avatar-triangle .avatar-1 {
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
}

.avatar-triangle .avatar-2 {
  top: 75%;
  left: 8px;
  transform: translateY(-50%);
}

.avatar-triangle .avatar-3 {
  top: 75%;
  right: 0;
  transform: translateY(-50%);
}

.avatar-triangle .avatar-4,
.avatar-triangle .avatar-5,
.avatar-triangle .avatar-6 {
  display: none; /* 隐藏多余的头像 */
}
